*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.header{
font-family:'Ubuntu', sans-serif; 
width: 100%;
max-width: 1180px;
display: flex;
justify-content: space-between;
margin: 0 auto;
align-items: center;
padding-top: 15px; 

}
.Logo{
display: flex;
align-items: center;
text-decoration: none;
}
.Logo-img{
display: block;
width: 58px;
height: 58px;
margin: 0 15px 0 0;
}
.Logo-title{
color: #202020;
font-size: 24px;
font-weight: 700;
}
.nav{
display: flex;
justify-content: flex-start;
align-items: center;
}
.nav>li{
list-style-type: none;
margin-left: 15px;
}
.nav>li>a{
text-decoration: none;
font-weight: 700;
font-size: 14px;
color: #202020;
}
.nav-btn{
background-color: #5528ff;
color: #fff;
padding: 5px 10px;
border-radius: 5px;
border: none;
transition: 0.5s;
}
.nav-btn:hover{
transition: 0.5s;
background-color: white;
color: #5528ff;
border: 1px solid #5528ff;


}
.main{
width: 100%;
max-width: 1180px;
margin: 0 auto;
font-family: 'Ubuntu';
padding-top: 100px;
}
.main-title{
font-size: 56px;
font-weight: 700;
line-height: 65,49px;
padding-bottom: 35px;
}
.main-text{
max-width: 740px;
font-weight: 400;
font-size: 32px;
line-height: 51px;
padding-bottom: 50px;
color: #4f4f4f;
}
.main-btn{
background-color: #5528ff;
padding: 20px 45px;
border: none;
color: white;
border-radius: 10px;
font-weight: 400;
font-size: 24px;
transition: 0.5s;
}
.main-btn:hover{
transition:0.5s ;
background-color: #fff;
color: #5528ff;
border: 1px solid #5528ff;
}
.page{
padding: 50px 0;
width: 100%;
max-width: 1180px;
margin: 0 auto;
}
.page-top{
border-top: 2px solid #c2c2c2;
margin-top: 60px;
}
.page-title{
text-transform: uppercase;
 padding:5px 10px ;
 top: -60px;   
 position: relative;
 font-weight: 300;
font-size: 14px;
color: #c2c2c2;;
font-family:'Ubuntu';
background-color:#fff;
}
.top-service{
display: flex;
justify-content: space-between;
}

.service{
display: flex;
}
.service-block{
margin-left: 50px;
}
.service-title{
font-size: 28px;
font-weight: 400;
font-family: 'Ubuntu';
color: #000;
}
.service-text{
margin-top: 14px;
font-family:'Ubuntu';
font-weight: 400;
font-size: 14px;
color:#b2b2b2;
max-width:292px ;
}
.bottom-services{
margin-top: 80px;
display: flex;
justify-content: space-between;
}
.client-top{
border-top: 2px solid #c2c2c2;

}
.client{
max-width: 1180px;
width: 100%;
margin: 0 auto;

}
.client-title{
 position: relative;
 top: -11px;
 font-weight: 300;
 font-size: 14px;
 background-color: #fff;
 font-family: 'Ubuntu';
 padding: 0 15px;
 color: #c2c2c2;
 text-transform: uppercase;
}
.client-1{
width: 1180px;
display: flex;
justify-content: space-between;
margin-top: 71px;
}